<div class="container">
    <h2>About</h2>
    <p>
        This project was created using an unusual technology stack. Front-end is written in Angular2/Typescript though
        final version was released only a few weeks ago(mid Sep 2016). In addition to Angular2 I also took advantage of
        Bootstrap3
        and D3 visualization library. Probably the most unconventional choice was to pick Neo4j as database.
        It's graph database that is extremely easy to uses and treats relationships as first class citizens
        <br/>
        You can find code on <a href="https://github.com/TSkrebe/HollywoodMovies">Github</a>
    </p>
    <h4>Used technologies</h4>
    <h5><strong>Frontend:</strong></h5>
    <ul>
        <li><strong>Angular2</strong></li>
        <li><strong>Bootstrap3</strong></li>
        <li><strong>D3 library</strong></li>
    </ul>
    <h5><strong>Backend:</strong></h5>
    <ul>
        <li><strong>Flask</strong></li>
    </ul>
    <h5><strong>Database:</strong></h5>
    <ul>
        <li><strong>Neo4j</strong></li>
    </ul>
</div>