<div class="container">
    <h2>About</h2>
    <p>
        This small project uses few cutting edge technologies as well as not so much know tech. Front end implemented
        with
        The most interesting choise of tech was regarding where data is stored. For this project I used not-so-known graph
        database <strong>Neo4j</strong>. Although not particulary well know piece of software it was interesting to try
        something new (not sql).<a href="http://www.github.com/TSkrebe">Github</a>
    </p>
    <h4>Used technologies</h4>
    <h6>Frontend:</h6>
    <ul>
        <li><strong>Angular2</strong></li>
        <li><strong>Bootstrap3</strong></li>
        <li><strong>D3 library</strong></li>
    </ul>
    <h6>Backend:</h6>
    <ul>
        <li><strong>Flask</strong></li>
    </ul>
    <h6>Database:</h6>
    <ul>
        <li><strong>Neo4j</strong></li>
    </ul>
</div>