<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Summary</a></li>
            <li><a data-toggle="tab" href="#crew">Crew</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <app-movie-info [movie]="movie">Loading...</app-movie-info>
            </div>
            <div id="crew" class="tab-pane fade">
                <div class="list">
                    <div *ngIf="directors.length">
                        <h3><strong>Directors:</strong></h3>
                        <ul class="list-unstyled">
                            <li *ngFor="let dir of directors"><strong>{{dir}}</strong></li>
                        </ul>
                    </div>
                    <div *ngIf="actors.length">
                        <h3><strong>Actors:</strong></h3>
                        <ul class="list-unstyled">
                            <li *ngFor="let actor of actors"><strong>{{actor.name}}</strong> as
                                <strong>{{actor.role}}</strong></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-6 outer-input">
            <div class="input-group ">
                <input list="results" type="text" class="form-control" placeholder="Search for movie!" #term
                       (keyup)="search(term.value)" (keyup.enter)="searchMovie()" [(ngModel)]="movie_str">
                <datalist id="results">
                    <option *ngFor="let item of items | async" value="{{item}}"></option>
                </datalist>

                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="searchMovie()">Go!</button>
                </span>

            </div>
        </div>
        <div class="col-md-6">
            <p class="text-danger"><strong>{{status_message}}</strong></p>
        </div>

        <app-graph [s_graph]="graph"></app-graph>

    </div>
</div>