<div class="row">
    <div class="col-md-3">
        <h3>What's in the graph?</h3>
        <div class="well">
            <ul>
                <li>{{stats.movie_count}} <strong>Movies</strong></li>
                <li>{{stats.director_count}} <strong>Directors</strong></li>
                <li>{{stats.actor_count}} <strong>Actors</strong></li>
                <li>{{stats.role_count}} <strong>Roles</strong></li>
            </ul>
        </div>
        <div>
            <svg height="120px">
                <g >
                    <circle cx="20" cy="20" r="15" stroke="#8B0000" stroke-width="2" fill="red" ></circle>
                    <text x="50" y="25" font-size="14" font-weight="bold">Actor</text>
                </g>
                <g>
                    <circle cx="20" cy="100" r="15" stroke="#000080" stroke-width="2" fill="blue" ></circle>
                    <text x="50" y="105" font-size="14" font-weight="bold">Director</text>
                </g>
                <g>
                    <circle cx="20" cy="60" r="15" stroke="#006400" stroke-width="2" fill="green" ></circle>
                    <text x="50" y="65" font-size="14" font-weight="bold">Movie</text>
                </g>
            </svg>
            <h4><strong>Scroll</strong> to zoom-in, zoom-out</h4>
            <h4><strong>Click</strong> on node to expand</h4>
        </div>
    </div>
    <div class="col-md-9">
        <h3>
            <span>Explore the graph</span>
            <button class="btn btn-default pull-right" (click)="generateRandom()">GENERATE NEW</button>
        </h3>
        <app-graph [s_graph]="graph"></app-graph>
    </div>
</div>